<%= form_for(@contact) do |f| %>

  <% if @contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

      <ul>
      <% @contact.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class='row'>
<div class='col-lg'>
 <%= image_tag @contact.avatar.url(:original), class: 'showavatar image-fluid' %>
</div>
<div class='col-lg'>
<div class='jumbotron'>
<h1><%= @namestring %></h1>
  <div class="field">
    <%= f.label :firstname %><br>
    <%= f.text_field :firstname %>
  </div>
  <div class="field">
    <%= f.label :lastname %><br>
    <%= f.text_field :lastname %>
  </div>
  <div class="field">
    <%= f.label :phone %><br>
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </div>
  
  <%= f.file_field :avatar %>
  <div class="actions">
    <%= f.submit %>
  </div>
 
 
  
  
<%= link_to 'Back', contacts_path, method: 'get'%>

<br>
 <%= render_breadcrumbs %>
<% end %>
 </div>
 </div>
  </div>
