<p id="notice"><%= notice %></p>
<br>
<div class="card searchbox" >
 
    <%= form_tag(contacts_path, method: :get) do %>
  <%= text_field_tag :term %>
  <%= submit_tag 'Search' %>
<% end %>

  
</div>

<br>
<br>

<div class='jumbotron'>
<%= will_paginate(@Contacts, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer) %>

<table class='table table-bordered table-hover table-responsive'>
  <thead>
    <tr>
      <th>Avatar </th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Phone</th>
      <th>Email</th>
      <th>Address</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @contacts.each do |contact| %>
      <tr>
        <td> <%= image_tag contact.avatar.url(:thumb) %> </td>
        <td><%= contact.FirstName %></td>
        <td><%= contact.LastName %></td>
        <td><%= contact.Phone %></td>
        <td><%= contact.Email %></td>
        <td><%= contact.Address %></td>
        <td><%= link_to 'Show', contact %></td>
        <td><%= link_to 'Edit', edit_contact_path(contact) %></td>
        <td><%= link_to 'Destroy', contact, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate(@Contacts, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer) %>


</div>
<br>

<%= link_to 'New Contact', new_contact_path %>
