
<br>
<div class="card searchbox" >
 
    <%= form_tag(contacts_path, method: :get) do %>
  <%= text_field_tag :term %>
  <%= submit_tag 'Search' %>
<% end %>

  
</div>

<br>
<br>

<div class='jumbotron'>
<%= will_paginate(@contacts, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer) %>
<div class='table-responsive'>
<table class='table table-bordered table-hover '>
  <thead>
    <tr>
      <th>Avatar </th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Phone</th>
      <th>Email</th>
      <th>Address</th>
      <th colspan="1"></th>
      <% if user_signed_in? %> <th colspan="2"></th> <%end%>
    </tr>
  </thead>

  <tbody>
    <% @contacts.each do |contact| %>
      <tr data-link="<%=contact_path(contact)%>">
        <td> <%= image_tag contact.avatar.url(:thumb), class: 'align-middle' %> </td>
        <td class= 'align-middle'><%= contact.firstname %></td>
        <td class= 'align-middle'><%= contact.lastname%></td>
        <td class= 'align-middle'><%= contact.phone %></td>
        <td class= 'align-middle'><%= contact.email %></td>
        <td class= 'align-middle'><%= contact.address %></td>
        <td class= 'align-middle'><%= link_to 'Show', contact %></td>
        <% if user_signed_in? %><td class= 'align-middle'><%= link_to 'Edit', edit_contact_path(contact) %></td>
        <td class= 'align-middle'><%= link_to 'Destroy', contact, method: :delete, data: { confirm: 'Are you sure?' } %></td> 
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<%= will_paginate(@Contacts, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer) %>
<br>

<% if user_signed_in?%> <%= link_to 'New Contact', new_contact_path %> <% end %>

 <%= render_breadcrumbs %>

</div>
