
<div class='container'>
<div class='row'>
<div class='col-lg'>
 <%= image_tag @contact.avatar.url(:original), class: 'showavatar image-fluid' %>
</div>
<div class='col-lg jumbotron'>

<p>
  <strong>First Name:</strong>
  <%= @contact.firstname %>
</p>
<br>

<p>
  <strong>Last Name:</strong>
  <%= @contact.lastname %>
</p>
<br>
<p>
  <strong>Phone Number:</strong>
  <%= @contact.phone %>
</p>
<br>
<p>
  <strong>Email:</strong>
  <%= @contact.email %>
</p>

<p>
  <strong>Address:</strong>
  <%= @contact.address %>
</p>

<%if user_signed_in?%>
<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%end%>
<%= link_to 'Back', contacts_path, method: 'get'%>

<br>
 <%= render_breadcrumbs %>
</div>
</div>
</div>


